@font-face {font-family:myFont; src: url(../images/dataSource/cuyabra.otf)}  
*{margin: 0;padding: 0;font-family: "微软雅黑";font-weight: 400;}
.number{font-family: myFont !important;}
#widgets .w0{left: 40px;top: 402px;}
#widgets #w4,#widgets #w5,#widgets #w6,#widgets #w7{visibility: hidden;}
#sourceColors{background: rgba(0,45,89,0.8);margin-left: -40px;top:380px;height: 215px;width: 205px;padding-left: 180px;
padding-top: 20px;border-top: 1px #06558e solid;font-size: 14px;font-weight: 600;}
#chooseCity{position: absolute;width: 100%;top: 770px;left: 1695px;}
#chooseCity div{width: 185px;color: #fff;background: #000;height: 50px;background: #07558f;
border: 1px #009fe8 solid;margin-top: 10px;}
#chooseCity div h1{font-size: 16px;text-align: center;line-height: 30px;cursor: pointer;}

#controllerBtn {width: 530px;height: 50px;position: absolute;background: #0087f9;left: 30px;top: 30px;}
#controllerBtn .controller{width: 25%;float: left;position: relative;cursor: pointer;}
#controllerBtn .controller img{height: 20px;margin-top: 15px;margin-left: 20px;}
#controllerBtn .controller p{color: #fff;position:absolute;text-align: center;width: 80%;top: 10px;left: 20%;
line-height: 30px;border-right: 1px #339ffa solid;font-size: 14px;font-weight: 600;}
#controllerBtn .controller1 p{border: none;}
#cityBtn .quanguo{height: 50px;width: 120px;position: absolute;top: 30px;left: 1300px;background: #0087f9;cursor: pointer;}
#cityBtn .quanguo p{width: 100%;color: #fff;text-align: center;line-height: 50px;font-size: 14px;font-weight: 600;}
#cityBtn .quanguoBox{height: 50px;width: 373px;position: absolute;top: 86px;left: 600px;background: #fff;}
#cityBtn .quanguoBox span{width: 123px;float: left;text-align: center;line-height: 30px;color: #565656;margin-top: 10px;
font-size: 14px;font-weight: 600;border-right: 1px #e5e5e5 solid;cursor: pointer;}
#cityBtn .quanguoHide{display: none;}

#pro ul{position: absolute;list-style: none;width: 335px;height: auto;background: #fff;
padding: 10px 20px;overflow: auto;display: none;top: 55px;}
#pro ul li{width: 150px;float: left;font-size: 14px;cursor: pointer;line-height: 24px;height: 24px;overflow: hidden;
color: #565656;}
#cities ul{position: absolute;list-style: none;width: 335px;height: auto;background: #fff;
padding: 10px 20px;overflow: auto;display: none;top: 55px;}
#cities ul li{width: 150px;float: left;font-size: 14px;cursor: pointer;line-height: 24px;height: 24px;overflow: hidden;
color: #565656;}

#addMap{width: 146px;height: auto;position: absolute;left: 1750px;top: 110px;font-weight: 600;font-family: "微软雅黑";}
#addMap div{float: left;width: 146px;height: 38px;position: relative;cursor: pointer;margin-top: 15px;background: url(../images/dataSource/navBk1.png);background-size: 100% 100%;}
#addMap div:hover{background:url(../images/dataSource/navBk2.png);background-size: 100% 100%;}
#addMap div:active{opacity: 0.5;}
#addMap div span{line-height: 38px;color: #fff;float: left;font-size: 14px;}
#addMap div img{float: left;margin: 10px;margin-left: 20px;width: 18px;}

#leftSource{height: 180px;width: 386px;position: absolute;background: rgba(0,45,89,0.8);top: 100px;left:20px;display: none;}
#leftSource h2{width: 366px;float: left;height: 36px;background: url(../images/dataSource/tabTitle.png) no-repeat;color: #fff;line-height: 36px;
padding-left: 20px;font-size: 16px;margin-top: -20px;}
#rightSource{height: 300px;width: 386px;position: absolute;background: rgba(0,45,89,0.8);top: 760px;left: 20px;display: none;}
#rightSource h2{width: 366px;float: left;height: 36px;background: url(../images/dataSource/tabTitle.png) no-repeat;color: #fff;line-height: 36px;
padding-left: 20px;font-size: 16px;margin-top: -20px;}
#city{opacity: 0;}

#widgets #w2{background: none;float: left;margin: 0;padding: 0;position: relative;
top: 10px;left: 10px;height: 30px;width: 385px;padding-left: 130px;}
#widgets .number{position: relative;float: left;font-weight: 600;margin-left: -13px;font-size: 20px;color: #fff;}
#widgets  #w2Title{position: absolute;}
#widgets  #w2Title p{position: absolute;top: 30px;left: 20px;color: #b4b4b6;font-size: 14px;width: 200px;font-weight: 600}
#widgets  #w2Title span{position: absolute;top: 30px;left: 340px;color: #b4b4b6;font-size: 14px;width: 200px;}

#widgets #w3{background: none;float: left;margin: 0;padding: 0;position: relative;
top: 6px;left: 15px;height: 30px;width: 385px;padding-left: 130px;}
#widgets  #w3Title{position: absolute;top: 45px;}
#widgets  #w3Title p{position: absolute;top: 10px;left: 20px;color: #b4b4b6;font-size: 14px;width: 200px;font-weight: 600;}
#widgets  #w3Title span{position: absolute;top: 10px;left: 340px;color: #b4b4b6;font-size: 14px;width: 200px;}

#widgets .w0{float: left;position: relative;top: 0;left: 20px;width: 345px;height: 105px;border-top: 1px #a0a0a0 solid;background: none !important;}
#widgets .w0 .progress{float: left;width: 350px;position: relative;height: 30px;}
#widgets .w0 .progress0{margin-top: 40px;}
#widgets .w0 .progress1{margin-top: -30px;}
#widgets .w0 .progress p{position: absolute;color: #fff;font-size: 18px;top: -28px;font-weight: 400;}
#widgets .w0 .progress1 p{position: absolute;left: 280px;width: 40px;margin-left: 30px;}
#widgets .w0 #info{background: none;float: left;}
#widgets .w0 #info0{position: relative;background: linear-gradient( to right,#2ea19e,#064d9f);}
#widgets .w0 #info1{position: relative;background: linear-gradient( to right,#c93f3d,#b7aa64);}
#widgets .w0 #info0 div{font-size: 16px;margin: 0;padding: 0;left: 10px;top: 5px;}
#widgets .w0 #info1 div{font-size: 16px;margin: 0;padding: 0;left: 0;right: 10px;text-align: right;}

#eventSource{left: 0;top: 0;width: 366px;left: 10px;top: 20px;display: block;}
#eventSource #es0{width: 50% !important;height: 90px;border-bottom: 1px #a0a0a0 solid;background: none;}
#eventSource #es0 #lable{color: #fff;font-size: 24px;line-height: 90px;}
#eventSource #es2{width: 50% !important;height: 90px;left: 50% !important;border-bottom: 1px #a0a0a0 solid;background: none;}
#eventSource #es2 #lable{color: #fff;font-size: 24px;line-height: 90px;}
.eventSource_text{font-size: 14px;color: #fff;top: 10px;text-align: right;width: 170px;}
.eventSource_text2{font-size: 14px;color: #fff;top: 60px;text-align: right;width: 170px;}
#eventType{left: 185px;top: 105px;}
#eventType .et{position:relative;float: left;width: 150px;font-weight: 600;font-size: 14px;margin-left: 30px;height: 22px;color: #fff;}
#eventType .et div{float: left;height: 40px;line-height: 40px;}
#eventType .et img{position: absolute;left: -15px;top: 12px;height: 13px;}
#eventType .et .count{float: right;}
#eventType #title{font-size: 16px;color: #fff;margin-top: 10px;}


#rightEchart{position: absolute;width: 130px;height: 130px;z-index: 100;top: 135px;left: 30px;}
#leftEchart{position: absolute;width: 130px;height: 130px;z-index: 100;top: 438px;left: 30px;}
#addMap .mapSelect{background: url(../images/dataSource/navBk2.png);background-size: 100% 100%;}
.echartBk{position: absolute;top: 140px;left: 34px;width: 120px;display: none;}

#jam{position: absolute;width: 385px;top: 640px;left: 20px;height: 400px;display: none;}
.tabTitle{width: 385px;height: 35px;background: url(../images/dataSource/tabTitle.png) no-repeat;line-height: 34px;padding-left: 25px;color: #fff;font-weight: 600;}
.tabClick{overflow: hidden;background: rgba(0,45,89,0.8)}
.tabClick li{ height:50px; line-height: 50px; width: 33%; float: left; text-align: center;list-style: none;color: #fff;cursor: pointer;font-size: 14px;}
.tabClick li.active{ color: #fff; transition: 0.1s; font-weight: bold}
.tabCon{ overflow: auto;height: 330px;overflow-x: hidden;background: rgba(0,45,89,0.8)}
.tabBox{ position: relative;}
.tabList{word-break: break-all; width:100%;float:left; line-height:100px; text-align:center; color:#D3D3D3; font-size:36px;}
.lineBorder{ height: 2px; overflow: hidden; border-bottom:1px solid #0072ad; background: #0072ad}
.lineDiv{ background: #099; height: 2px; width: 100%;}

.tabList ul{width: 100%;float: left;overflow: hidden;}
.tabList ul li{width: 100%;float: left;padding-left: 20px;padding-top: 10px;border-bottom: 1px solid #000;padding-right: 80px;list-style: none;font-family: "微软雅黑";cursor: pointer;}
.tabList ul li h1{width: 70%;float: left;text-align: left;font-size: 14px;color: #019fe8;line-height: 25px;}
.tabList ul li h2{width: 20%;float: left;text-align: right;font-size: 14px;color: #c6403d;line-height: 25px;}
.tabList ul li h3{width: 90%;float: left;text-align: left;font-size: 14px;color: #b8b4b5;line-height: 25px;margin-left: 10%;display: none;}
.tabList ul li .roadInfo{width: 22%;float: left;height: 30px;overflow: hidden;}
.tabList ul li .roadInfo h4{width: 100%;float: left;text-align: left;font-size: 12px;color: #b8b4b5;line-height: 25px;}
.tabList ul li .roadInfo h4 img{float: left;margin: 3px;}
.tabList ul li h6{display: none;}

.tabLiList{position: absolute;width: 530px;background: rgba(255,255,255,0.8);top: 370px;height: 350px;overflow: auto;overflow-x: hidden;display: none;}
.tabLiList h5{line-height: 40px;width: 500px;color: #0087f9;;padding-left: 30px;font-size: 16px;border-bottom: 1px #0087f9 solid;}

.tabLiList ul{width: 490px;float: left;}
.tabLiList ul li{width: 470px;float: left;margin-left: 20px;padding-top: 10px;border-bottom: 1px solid #565656;list-style: none;font-family: "微软雅黑";cursor: pointer;}
.tabLiList ul li h1{width: 70%;float: left;text-align: left;font-size: 14px;color: #565656;line-height: 25px;}
.tabLiList ul li h2{width: 30%;float: left;text-align: right;font-size: 14px;color: #e10000;line-height: 25px;}
.tabLiList ul li h3{width: 90%;float: left;text-align: left;font-size: 14px;color: #a0a0a0;line-height: 25px;margin-left: 10%;}
.tabLiList ul li .roadInfo{width: 25%;float: left;height: 30px;overflow: hidden;}
.tabLiList ul li .roadInfo h4{width: 100%;float: left;text-align: left;font-size: 14px;color: #565656;line-height: 25px;}
.tabLiList ul li .roadInfo h4 img{float: left;}

.jamBk{width: 200px;position: absolute;height: 100px;display: none;z-index: 100;background: none;left: 1720px;top: 265px;}
.jamBk1{height: 200px;display: none;z-index: 100;top: 470px;background: none;}
.jamBk2{width: 80px;position: absolute;display: none;z-index: 100;display: none;z-index: 100;top: 0px;background: none;height: 450px;}


#nav{width: 150px;height: 500px;position: absolute;left: 1750px;top: 267px;font-family: "微软雅黑";}
#nav ul li{float: left;width: 146px;margin-top: 15px;height: 38px;text-align: center;list-style: none;background: url(../images/dataSource/navBk1.png);background-size: 100% 100%;cursor: pointer;position: relative;}
#nav ul .selected{background: url(../images/dataSource/navBk2.png);background-size: 100% 100%;}
#nav ul li:hover{background: url(../images/dataSource/navBk2.png);background-size: 100% 100%;}
#nav ul li:active{opacity: 0.5;}
#nav ul li img{float: left;margin: 10px;margin-left: 20px;width: 20px;}
#nav ul li p{color: #fff;font-size: 14px;float: left;line-height: 38px;}

#navShow{position: absolute;left: 80px;top: 550px;display: none;}
.UserPic{position: absolute;width: 1920px;height: 1080px;z-index: 1000;background: rgba(0,0,0,0.2);display: none;}
.UserPic img{width: 700px;position: absolute;left: 50%;top: 50%;background: #044074;padding: 10px;margin:10px}
.label1{display: none;}
.tx1{display: none;}
.customCheckBox{width: 150px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; }
#dataSour{position: absolute;background: none;height: 100px;width: 80px;top: 450px;display: none;}

.tabListHide{display: none;}
#leftBk{width: 386px;height:235px;position: absolute;background: rgba(0,45,89,0.8);z-index: 100;display: none;top: 380px;}
#leftBk h1{color: #fff;font-size: 14px;text-align: center;margin-top: 30%;}
#sourceData{height: 540px;width: 386px;position: absolute;background: rgba(255,255,255,0.8);top: 540px;left: 1506px;display: none;}
#sourceData h2{width: 366px;float: left;height: 50px;background: #0087f9;color: #fff;line-height: 50px;
padding-left: 20px;font-size: 16px;}
#sourceData h3{width: 100%;float: left;color: #5d5d5d;font-weight: 500;padding: 10px;padding-left: 20px;line-height: 35px;    color: #565656;
    font-size: 14px;width: 200px;}
#sourceData span{position: absolute;right: 30px;font-size: 30px;line-height: 30px;color: #565656;font-family: "微软雅黑";}
#sourceData h4 span{right: 10px;}
#sourceData p{position: absolute;right: 10px;font-size: 14px;line-height: 10px;color: #565656;font-family: "微软雅黑";margin-top: -20px;}
#sourceData .sourceList{float: left;width: 200px;height: 350px;margin-left: 190px;margin-top: 20px;}
#sourceData .sourceList h4{width: 100%;float: left;line-height: 30px;color: #3399FF;}
#sourceData .sourceList span{color: #3399FF;font-size: 14px;}
#sourceEchart{position: absolute;width: 200px;height: 200px;z-index: 100;top: 200px;}

#leftNewSource{width: 100%;height: 350px;position: absolute;top:200px}
#NewSourcechart{width: 130px;height: 130px;float: left;z-index: 100;top: 0px;left: 29px;}
.leftNewSource{top: 204px;}
.leftEchart{top: 443px;z-index: 110;}
#NewsourceInfo{width: 200px;height: auto;position: absolute;right: 0;top: -48px;font-weight:600;color: #fff;}
#NewsourceInfo .newInfo{width: 100%;float: left;}
#NewsourceInfo .newInfo .box{width: 15px;height: 15px;;float: left;}
#NewsourceInfo .newInfo p{float: left;font-size: 14px;margin-left: 5px;margin-top:-2px}
#NewsourceInfo .newInfo span{float: right;font-size: 14px;margin-right: 10px;}

#cesiumBk{position: absolute;width: 1920px;height: 1080px;background: rgba(0,0,0,0.1);z-index: 100;display: none;}
#cesiumBk h1{width: 100%;text-align: center;top: 45%;color: #fff;position: absolute;}

.newInfo{overflow: hidden;}
.newInfo p{width: 90px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}

#spanTime{position: absolute;width: 386px;height: 300px;background: rgba(0,45,89,0.8);top: 760px;left: 1510px;
color: #fff;list-style: none;display: none;}
#spanTime h2{background: url(../images/dataSource/tabTitle.png) no-repeat;top: -20px;position: absolute;
width: 366px;font-size: 16px;line-height: 36px;padding-left: 20px;}
#spanTime ul{list-style: none;width: 398px;height: 280px;padding-top: 20px;overflow: auto;}
#spanTime ul li{width: 376px;padding-left: 10px;border-bottom: 1px #fff solid;height: 65px;cursor: pointer;}
#spanTime ul li .spanList{width: 25%;float: left;color: #fff;font-size: 14px;}
#spanTime ul li .spanList img{float: left;}
#spanTime ul li h1{width: 100%;float: left;text-align: left;font-size: 14px;color: #019fe8;line-height: 35px;}
#spanTime ul li h4{float: left;text-align: left;font-size: 14px;color: #fff;line-height: 20px;margin-left: 5px;width: 60px;
 white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;font-size: 12px;}
/*#spanTime ul li h4{float: left;text-align: left;font-size: 14px;color: #fff;line-height: 25px;width: 35%;}
#spanTime ul li h5{float: left;text-align: left;font-size: 14px;color: #fff;line-height: 25px;width: 25%;}*/

#sourceColors .item .label1{float: right;margin-right: 10px;}
#sourceColors .item .label0{float: right;margin-right: 10px;}

.leftNewSourceH{position: absolute;display: none;font-size: 18px;left: 55px;top: 160px;color: #fff;}
.leftEchartH{position: absolute;display: none;font-size: 18px;left: 40px;top: 400px;color: #fff;}
#spaceTime{position: absolute;width: 600px;height: auto;left: 1100px;top: 100px;background: #fff;height: 349px;}

#menu .title{width: 366px;height: 36px;float: left;color: #fff;background: url(../images/dataSource/tabTitle.png);}
#menu .title h2{font-size: 16px;line-height: 36px;margin-left: 20px;}
#menu .menuBk{background: rgba(0,45,89,0.8);position: absolute;width: 366px;height: 400px;left: 0;top: 36px;}

.searchItem:first-child{display: none;}
#widgets #w1 #info0,#widgets #w1 #box{display: none;}
.all{float: left;}

.positionCar{position: absolute;top: 810px;left: 20px;width: 366px;display: none;}
.positionCar h2{width: 350px;background: url(../images/dataSource/tabTitle.png) no-repeat;color: #fff;line-height: 36px;font-size: 16px;padding-left: 16px;}
.positionCar .sudu{position: absolute;color: #fff;width: 100%;padding-left: 35px;top:45px;font-size: 16px;}
.positionCar ul{float: left;width: 183px;background: rgba(0,45,89,0.8);list-style: none;float: left;padding-top: 40px;padding-bottom: 20px;}
.positionCar ul li{float: left;width: 183px;height: 30px;padding-left: 30px;}
.positionCar ul li h2{width: 6px;height:20px;float: left;border-radius: 10px;background: #fff;}
.positionCar ul li h2 span{width: 12px;height:12px;float: left;border-radius: 6px;background: #fff;margin-top: 4px;margin-left: -11px;}
.positionCar ul li h3{float: left;color: #fff;margin-left: 10px;width: 120px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; font-size: 14px;}


#spaceTime .spaceTime{width: 600px;}
#spaceTime .spaceBtn{position: absolute;top: 140px;left: 600px;}
#spaceTime .pre{transform:rotate(180deg);left: -40px;}
