#cesiumContainer
{
	position: absolute;
	width: 1920px;
	height: 1080px;
}

#chartContainer
{
	position: absolute;
	width: 1920px;
	height: 300px;
	top: 780px;
	/*修复缩放2倍后在大屏上的Bug,原因未知*/
	z-index: 100;
	display: none;
}

#chartContainer #chart
{
	background-image: url(../images/operationAnalysis/timeline.png);
	width: 1840px;
	height: 137px;
	position: absolute;
	left: 40px;
	top:100px;
}

#chart .monthLabel
{
	position: absolute;
	top: 7px;
	color: white;
	font-size: 13px;
}

#chart .valueLabel
{
	position: absolute;
	color: white;
	font-size: 13px;
	width:36px;
	text-align: right;
}

#chartContainer #menu0
{
	left:40px;
	top:-82px;
}
#chartContainer #menu1
{
	left: 190px;
	top:-4px;
}

#chartContainer .menu
{
	width:134px;
	background: #006666;
	color: white;
	font-size: 14px;
	padding:5px;
	box-shadow: 0 1px 1px #000;
	position: absolute;
	display: none;
}

#chartContainer .menuItem
{
	cursor: pointer;
	padding: 5px;
}

#chartContainer .menuItem:hover
{
	background-color: #222222;
}

#chartContainer .menuBt
{
	position: absolute;
	width: 144px;
	height: 36px;
	background-image: url(../images/operationAnalysis/menuBtBg.png);
	font-family: "微软雅黑";
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	color: white;
	text-shadow: 0 1px 1px #000;
}

#menuBt0
{
	left:40px;
	top:60px;
}

#menuBt1
{
	left:190px;
	top:60px;
}

#timelinePlayer
{
	position: absolute;
	width: 385px;
	height: 36px;
	background-image: url(../images/operationAnalysis/timelinePlayerBg.png);
	left: 1495px;
	top: 60px;
}

#timelinePlayer #preBt
{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 170px;
	top: 8px;
	background-image: url(../images/operationAnalysis/preBt.png);
	cursor: pointer;
}

#timelinePlayer #playBt
{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 207px;
	top: 8px;
	background-image: url(../images/operationAnalysis/playBt.png);
	cursor: pointer;
}

#timelinePlayer #nextBt
{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 239px;
	top: 8px;
	background-image: url(../images/operationAnalysis/nextBt.png);
	cursor: pointer;
}

#timelinePlayer #info
{
	position: absolute;
	left: 280px;
	top: 10px;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #000;
}

#chartContainer #pointer
{
	position: absolute;
	width: 20px;
	height: 10px;
	left: 70px;
	top: 217px;
	background-image: url(../images/operationAnalysis/pointer.png);
}

/*------------------------------------------------------------------------------------*/
#infoBox
{
	position: absolute;
	width: 300px;
	height: 200px;
	border: solid 1px #497FA4;
	background-color: #044074;
	left:1920px;
	top:100px;
	display:none;
}

#infoBox .header
{
	padding: 5px;
}

#infoBox .header .title
{
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	float: left;
}

#infoBox .header .closeBt
{
	background-image: url(../images/dataSource/closeIcon.png);
	width: 15px;
	height: 15px;
	float: right;
	background-size: contain;
	margin: 5px;
	cursor: pointer;
}

#infoBox .body
{
	background-color:#002D59;
	height: 155px;
	margin-top: 25px;
	padding: 5px;
	color: #B5DDF9;
}
