#bg
{
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: #002D59;
}

#slogan
{
	position: absolute;
	width: 370px;
	height: 61px;
	background-image: url(../images/index/slogan.png);
	left:775px;
	top: 926px;
}

#apps
{
	position: absolute;
}

#apps .item
{
	position: absolute;
	width: 181px;
	height: 252px;
	top: 415px;
	background-repeat: no-repeat;
}

#apps #app0
{
	left: 349px;
	background-image: url(../images/tools/icon0.png);
}

#apps #app1
{
	left: 609px;
	background-image: url(../images/tools/icon1.png);
}

#apps #app2
{
	left: 869px;
	background-image: url(../images/tools/icon2.png);
}

#apps #app3
{
	left: 1129px;
	background-image: url(../images/tools/icon3.png);
}

#apps #app4
{
	left: 1389px;
	background-image: url(../images/tools/icon4.png);
}