#topBar
{
	position: absolute;
	width: 1920px;
	height: 89px;
	background-image: url(../images/dataSource/topBar.png);
}

#topBar #logo1
{
	width: 176px;
	height: 50px;
	background-image: url(../images/index/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 756px;
	top: 15px;
	/* 文字 */
	color: #FFFFFF;
	font-size: 32px;
	font-family: "微软雅黑";
	padding-left: 240px;
}
#topBar #logo{position: absolute;left:40px;font-size: 26px;color: #fff;line-height: 60px;font-family: "微软雅黑";cursor: pointer;}
.quanguo{position: absolute;right:70px;font-size: 26px;color: #fff;line-height: 60px;font-family: "微软雅黑";cursor: pointer;}
