#bg
{
	position: absolute;
	background-image: url(../images/operationMonitoring/bg.png);
	width: 1920px;
	height: 1080px;
}

#items
{
	position: absolute;
}

#items .circleItem
{
	position: absolute;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background-color: #FF0000;
	border-radius: 12px;
	color: #ffffff;
	font-weight: bold;
}

#info
{
	position: absolute;
}

#info .infoItem
{
	position: absolute;
	height: 52px;
	color: #FFFFFF;
	font-size: 20px;
	top: 916px;
	line-height: 52px;
	text-align: center;
}

#time
{
	position: absolute;
	left:154px;
	top: 67px;
	width: 220px;
	height: 49px;
	background-image: url(../images/operationMonitoring/timeBg.png);
}

#time .number
{
	position:absolute;
	width: 27px;
	height: 39px;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	top:5px;
	text-align: center;
	line-height: 39px;
}

#time .detail
{
	position: absolute;
	width: 200px;
	left: 238px;
	top:3px;
	color: #FFFFFF;
	font-size: 20px;
}
