#topBar
{
	position: absolute;
	width: 1920px;
	height: 89px;
	background-image: url(../images/dataSource/topBar.png);
}

#topBar #logo
{
	width: 176px;
	height: 50px;
	background-image: url(../images/index/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 756px;
	top: 15px;
	/* 文字 */
	color: #FFFFFF;
	font-size: 32px;
	font-family: "微软雅黑";
	padding-left: 210px;
	cursor: pointer;
}

#topBar #preBt
{
	width: 71px;
	height: 26px;
	position: absolute;
	left: 44px;
	top: 15px;
	background-image: url(../images/dataSource/pre.png);
	cursor: pointer;
}

#topBar #nextBt
{
	width: 71px;
	height: 26px;
	position: absolute;
	left: 1812px;
	top: 15px;
	background-image: url(../images/dataSource/next.png);
	cursor: pointer;
}